.containerCard{
    width: 300px;
    height: 200px;
    border: grey solid 1px;
    display: flex;
    flex-direction: column;
    border: solid 3px rgb(17, 17, 17);
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 3px 3px black;
    margin-top: 3rem;
}


h4{
    font-size: 1.8rem;
    text-decoration: underline;
}
h4:hover{
    font-size: 2rem;
}
.boton{
    position: relative;
    background-color: rgb(253, 70, 70);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 250px;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 4px;
    width: 36px;
    height: 28px;
    animation: spinner2 600ms linear infinite;
    }
    @keyframes spinner2 {
    to {
    transform: rotate(0deg);
    }
}
.boton:hover{
    background-color: red;
}

.temperature{
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    font-weight: bold;
    
}

.imagenCard{
    width: 80px;
    height: 80px;
    border: 3px solid black;
    box-shadow: 2px 2px black;
}