.containerCard{
    width: 500px;
    height: 500px;
    border: grey solid 1px;
    display: flex;
    flex-direction: column;
    border: solid 3px rgb(17, 17, 17);
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 3px 3px black;
    margin-top: 2rem;
    background-color: rgba(196, 189, 189, 0.4);
    padding: 1rem;
}

.titleInfo{
    color:rgb(43, 29, 29);
    font-size: 2.3rem;
    text-decoration: underline;
}

.temperature{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.containerTopics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.275);
    border-radius: 15px;
}

.imagenCard{
    width: 80px;
    height: 80px;
    border: 3px solid black;
    box-shadow: 2px 2px black;
}

.country{
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.weather{
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}
