.button{
    background-color: rgb(0, 102, 255);
    border-radius: 10px;
    height: 4rem;
    width: 7rem;
    margin-left: 0.5rem;
    color:white;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 3px 3px black;
}
.button:hover{
    background-color: rgb(0, 26, 255);
}
.inputCity{
    border-radius: 10px;
    height: 4rem;
    width: 30rem;
    font-size: 1.2rem;
    box-shadow: 3px 3px black;
    text-align: center;
}

.search{
    margin-top: 3rem;
}

button {
    height: 40px;
    width: 40px;
    background: #151825;
    border-radius: 50%;
    border: 1px solid #1D9AF2;
    border-top: 2px solid #fff;
    animation: spinner1 600ms linear infinite;
    }
    @keyframes spinner1 {
    to {
    transform: rotate(360deg);
    }
    }